@keyframes tempHide {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInAndBounce {
  from {
    opacity: 0;
    top: 48px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

a {
  transition-duration: 1s;
}

a[href="#about"] {
  animation-delay: 0.5s, 0s;
  animation-duration: 1s, 0.5s;
}

a[href="#skills"] {
  animation-delay: 1s, 0s;
  animation-duration: 1s, 1s;
}

a[href="#projects"] {
  animation-delay: 1.5s, 0s;
  animation-duration: 1s, 1.5s;
}

a[href="#contact"] {
  animation-delay: 2s, 0s;
  animation-duration: 1s, 2s;
}

.isStuck {
  transition-delay: 1s;
  transition-duration: 1s;
  opacity: 1;
  top: 0;
}

.onScreen {
  left: 0px;
  transition-duration: 2s;
}

#splash a {
  animation-name: fadeInAndBounce, tempHide;
}

#splash a:hover {
  transition-duration: 1s;
  width: 35vw;
  height: 35vw;
  cursor: pointer;
}
